html, body, main {
  height: 100%;
  background: #000;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#countdown {
  font-size: 24vw;
  color: #FFF;
  background: #000;
  text-align: center;
  position: relative;
}

#countdown > div {
  display: inline-block;
  margin: auto;
  height: auto;
  vertical-align: middle;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#min, #sec {
  display: inline-block;
  height: auto;
  margin: 0 auto;
  vertical-align: middle;
}

#colon {
  display: inline-block;
  height: auto;
  margin: 0 auto;
  vertical-align: middle;
}

#buttonarea {
  font-size: 3vw;
  color: #FFF;
  background: #444;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transform: translate(0px, 0px);
  -webkit-transition: -webkit-transform 500ms;
  transform: translate(0px, 0px);
  transition: transform 500ms;
  z-index: 100;
}

#buttonarea.move {
  -webkit-transform: translate(0px, -100px);
  transform: translate(0px, -100px);
}
